<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head th:include="Layout :: headerFragment">
	<title>Course Details</title>
</head>
<body>
	<div th:substituteby="Layout :: defaultFragment"></div>
	<div id="body">
		<fieldset>
			<legend>Search Course</legend>
			<div id="box">
				<form action="#" th:action="@{/main/viewStudents}" th:object="${resultForm}" method="GET" >
				<p>
					<label>Select Course No.</label> 
					<select th:field="*{courseNo}">
                         <option value=""></option>
                         <option th:each="courseDetails : ${courseDetailsListCourseNo}"
                            th:value="${courseDetails}"
                            th:utext="${courseDetails}"/>
                  </select>
				</p>
				<p>
					<label>Select Batch No.</label> 
					<select th:field="*{batchNo}">
                         <option value=""></option>
                         <option th:each="courseDetails : ${courseDetailsListBatchNo}"
                            th:value="${courseDetails}"
                            th:utext="${courseDetails}"/>
                  </select>
				</p>				
				<p>
					<button class="formbutton" name="Submit" type="submit">Submit</button>
				</p>	
			</form>
			</div>
		</fieldset>
		<br/><br/>	
	</div>
	<br/><br/><br/>
	<div th:substituteby="Layout :: footerFragment"></div>
</body>
</html>